h1{color: rgba(204, 46, 25, 0.904);}
.container {
    position: relative;
    text-align: center;
    color: rgb(228, 31, 31);
  }
  .centered {
    position: absolute;
    top: 29%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
  }

#image{margin-left: 1rem; 
    height: 344px;
    width: 100%;}
aside {
    width: 50%;
    padding-left: .7rem;
    margin-left: .7rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside > p {
    margin: 9rem;
}

p {
    font-size: larger;
    font-family: 'Fira Sans', sans-serif;
}
ol{ margin-top: 7rem;
    margin-left: 4rem;
}
li{margin-top: 2rem;}

